{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"importOrder": [
		"<THIRD PARTY MODULES>",
		"^@/components/(.*)$",
		"^@/types/(.*)$",
		"^@/shared/(.*)$",
		"^@/hooks/(.*)$",
		"^@/store/(.*)$",
		"^@/utils/(.*)$",
		"^@/api/(.*)$",
		"^../(.*)$",
		"^./(.*)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
